.a {
  position: relative;
}

.a div:nth-child(1){
  position: absolute;
  left: 00px;
  top: 75%;

  width: 28%;
  height: 25%;
  background-color: black;
}
.a div:nth-child(2){
  position: absolute;
  left: 28%;
  top: 25%;

  width: 5%;
  height: 75%;
  background-color: black;
}

.a div:nth-child(3){
  position: absolute;
  left: 12.5%;
  top: 30%;

  width: 5%;
  height: 40%;
  background-color: black;
  transform: rotate(49deg);
}
