.b div {
  position: absolute;
  background-color: black;
}

.b div:nth-child(1) {
  width: 10%;
  height: 100%;
  left: 10%;
}

.b div:nth-child(2),
.b div:nth-child(3) {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  left: 10%;
  top: 50%;
}

.b div:nth-child(3) {

}
