.c div {
  position: absolute;
  left: 0%;
  background-color: black;
}
.c div:nth-child(1) {
  top: -5%;
  left: 58%;
  width: 5%;
  height: 17%;
  transform: rotate(90deg);
}
.c div:nth-child(2) {
  top: 6%;
  left: 15%;
  width: 8%;
  height: 76%;
  transform: rotate(45deg);
  border-radius: 50%;
}
.c div:nth-child(3) {
  top: 23%;
  left: 20%;
  width: 13%;
  height:120%;
  transform: rotate(-90deg);
}
