.d {
  position: relative;
  width: 200px;
  height: 200px;
}

.d div:nth-child(1){
    position: absolute;
    left: 5%;
    top: 42%;

    width: 60%;
    height:60%;

    background-color: black;

    border-radius: 70%;
}

.d div:nth-child(2){
    position: absolute;
    left:50%;
    top:2%;

    width:50%;
    height:100%;

    background-color: black;
}

.d div:nth-child(3){
    position: absolute;
    left:10%;
    top:60%;

    width:20%;
    height:20%;

    background-color: white;

    border-radius: 70%;
}
