.e div:nth-child(1){
  position: absolute;
  top: 45%;
  left: 23.5%;
  height: 45%;
  width: 10%;
  background-color: black;
  transform:rotate(-10deg);
  }

.e div:nth-child(2){
  position: absolute;
  top: 5%;
  left: 17.5%;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background: linear-gradient(45deg,black,75%,white);
}

.e div:nth-child(4){
  position: absolute;
  top: 82%;
  left: 27.5%;
  height: 10%;
  width: 45%;
  background-color: black;
  }
