.f div:nth-child(1){
  background-color: black;
  width:6%;
  height:66%;
  left: 40%;
  top: 13%;
}

.f div:nth-child(2){
  background-color: black;
  width:27%;
  height:27%;
  border-radius: 50%;
  left: 40%;
  top: 32%;
}

.f div:nth-child(3){
  background-color: black;
  width:29%;
  height:6%;
  left: 36%;
  top: 10%;
 }
