

.g div:nth-child(1){
  position: absolute;
  left: 52%;
  top: 2%;
  height: 100%;
  width: 5%;
  background-color: black;

}

.g div:nth-child(2){
  position: absolute;
  left: 0%;
  height: 50%;
  width: 50%;
  background-color: white;
  border-style: dotted;
  border-color: black;
  border-radius: 50%;
}

.g div:nth-child(3){
  position: absolute;
  left: 7%;
  top: 100%;
  height: 5%;
  width: 50%;
  background-color: black;

}
