.h {
  position: relative;
  width: 200px;
  height: 200px;
}

.h div:nth-child(1){
    position: absolute;
    left: 25%;
    top: 50%;

    width: 85%;
    height:85%;

    background-color: black;

    border-radius: 70%;
}

.h div:nth-child(2){
    position: absolute;
    left:5%;
    top:25%;

    width:50%;
    height:100%;

    background-color: black;
}

.h div:nth-child(3){
    position: absolute;
    left:35%;
    top:85%;

    width:50%;
    height:50%;

    background-color: white;

    border-radius: 70%;
}

.h div:nth-child(4){
  position: absolute;
  left:60%;
  top:125%;

  width:50%;
  height:35%;

  background-color: magenta;
}

}
