.i div {
  position: absolute;
  background-color: black;
}
.i div:nth-child(1) {
  top: 20%;
  left: 45%;
  width: 5%;
  height: 70%;
}
.i div:nth-child(2) {
  top: 0%;
  left: 35%;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}
.i div:nth-child(3) {
  top: 80%;
  left: 35%;
  width: 25%;
  height: 13%;
}
