.j div:nth-child(1){
  position: absolute;
  left: 00px;
  top: 75%;

  width: 35%;
  height: 25%;
  background-color: black;
}

.j div:nth-child(2){
  position: absolute;
  left: 30%;
  top: 75%;

  width: 5%;
  height: 50%;
  background-color: black;
}
.j div:nth-child(3){
  position: absolute;
  left: 30%;
  top: 40%;

  width: 5%;
  height: 25%;
  background-color: black;
}
