.k div {
  position: absolute;
  width: 15%;
  background-color: black;
}
.k div:nth-child(1) {
  top: 15%;
  left: 18%;
  height: 85%;
  width: 12%;
}
.k div:nth-child(2) {
  top: 78%;
  left: 18%;
  width: 55%;
  height: 5%;
  transform: rotate(45deg);
}
.k div:nth-child(3) {
  top: 14%;
  left: 20%;
  width: 56%;
  height: 5%;
  transform: rotate(-45deg);
}
