.l div {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: black;

}
.l div:nth-child(1) {
  top: 0;
  left: 40%;
  box-shadow: 10px 10px 8px black;
}

.l div:nth-child(2) {
  top: 85%;
  left: 35%;
  height: 15%;
  width: 35%;
  box-shadow: 10px 10px 8px black;
}
.l div:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: white;
  border: 1px dotted black;

}
