.m div {
  position: absolute;
  width: 20%;
  height: 80%;
  background-color: black;
}

.m div:nth-child(1) {
  top: 20%;
  left: 0;
  clip-path: polygon(50% -30%, 100% 30%, 100% 100%, 0 100%, 0 0)

}

.m div:nth-child(2) {
  top: 20%;
  left: 15%;
  width: 50%;
  height: 80%;
  clip-path: polygon(50% -30%, 100% 30%, 100% 100%, 0 100%, 0 30%);
  background-color: black;
}

.m div:nth-child(3) {
  top: 20%;
  left: 50%;
  width: 50%;
  height: 80%;
  clip-path: polygon(50% -30%, 100% 30%, 100% 100%, 0 100%, 0 30%);
  background-color: black;

}
