.n div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
}

.n div:nth-child(1) {
  top: 50%;
  left: 20%;
}

.n div:nth-child(2) {
  top: 35%;
  left: 35%;
  transform: rotate(88deg);
}
.n div:nth-child(3) {
  top: 55%;
  left: 55%;
  height: 45%;
}
