
.o div{
  position: absolute;
}

.o div:nth-child(1){
  background: linear-gradient(70deg, white, black);
  box-shadow: -6px 4px black;
  top: 40%;
  left: 20%;
  height:60%;
  width: 60%;
  border-radius: 45%;
  transform: rotate(-4deg)
}

.o div:nth-child(1):hover{
  background: linear-gradient(70deg, white, black);
  box-shadow: -6px 4px black;
  top: 40%;
  left: 20%;
  height:60%;
  width: 60%;
  border-radius: 45%;
  transform: rotate(-4deg)
}

.o div:nth-child(2){
  background: linear-gradient(70deg, white, black);
  box-shadow: -6px 4px black;
  top: 40%;
  left: 20%;
  height:60%;
  width: 60%;
  border-radius: 45%;
  transform: rotate(-4deg)
}
