.p div {
  position: absolute;
  width: 40px;
  height: 120%;
}
.p div:nth-child(1) {
  top: 20%;
  left: -30%;
  width: 110%;
  height: 80%;
  border-radius: 50%;
  background-color: black;
}
.p div:nth-child(2) {
  top: 40%;
  left: 0%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: white;
  border: 1px dotted blue;
  box-shadow: 10px 10px 8px black;
}

.p div:nth-child(3) {
  top: 20%;
  left: 0%;
  background-color: black;
}
