.q div:nth-child(1){
  position: absolute;
  left: 70%;
  height: 90%;
  width: 10%;
  background-color: black;
  }

.q div:nth-child(2){
  position: absolute;
  left: 15%;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background: linear-gradient(-90deg,black,70%,white)
}

.q div:nth-child(3){
  position: absolute;
  left: 62.5%;
  top: 90%;
  height: 10%;
  width: 25%;
  background-color: black;
}
