.r div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
}

.r div:nth-child(1) {
  top: 50%;
  left: 20%;
}


.r div:nth-child(2),
.r div:nth-child(3) {
  top: 35%;
  left: 35%;
  transform: rotate(88deg);
}
