.s div:nth-child(1){
  position: absolute;
  left: 70%;
  top: 78%;
  width: 15%;
  height: 45%;
  background-color: black;
  transform: rotate(90deg);
}

.s div:nth-child(2) {
  position: absolute;
  left: 81px;
  top: -4%;
  width: 15%;
  height: 123%;
  background-color: black;
  transform: rotate(44deg);
}
.s div:nth-child(3) {
  position: absolute;
  left: 85%;
  top: 8%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(0deg);
}
