.t div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
}

.t div:nth-child(1) {
  top: 0%;
  left: 20%;
  height: 100%;
}

.t div:nth-child(2) {
  top: 70%;
  left: 35%;
  transform: rotate(88deg);
}
.t div:nth-child(3) {
  top: 20%;
  left: 20%;
  transform: rotate(88deg);
  height: 30%;
}
