
.u div{
  position:absolute;
}
.u div:nth-child(1){
  top: 50%;
  background-color: black;
  height:30.5%;
  width: 80%;
  border-radius: 0 0 0 50%;
  margin: 2.5% 0 0 0;
}
.u div:nth-child(2){
  top: 50%;
  background-color: white;
  width:75.55%;
  height:20%;
  margin: 1% 2.42%;
}
.u div:nth-child(3){
  top: 50%;
  background-color: white;
  width:75.55%;
  height:20%;
  margin: 1% 2.42%;
}
