
.w div:nth-child(1){
  position: absolute;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
}

.w div:nth-child(2){
  position: absolute;
  left: 30%;
  height: 70%;
  width: 5%;
  background-color: white;
  opacity: 1;
}

.w div:nth-child(3){
  position: absolute;
  left: 65%;
  height: 70%;
  width: 5%;
  background-color: white;
  opacity: 1;
}
