.x div{
  position:absolute;
}

.x div:nth-child(1){
  top: 40%;
  background-color: black;
  height:67.1%;
  width: 2.1%;
  margin: 1.2% 0 0 4.5%;
  left: 40%;
  transform: rotate(45deg);
}

.x div:nth-child(2){
  top: 40%;
  background-color: black;
  height:67.1%;
  width: 2.1%;
  margin: 1.2% 0 0 4.5%;
  left: 40%;
  transform: rotate(-45deg);
}
.x div:nth-child(3){
  top: 40%;
  background-color: black;
  height:67.1%;
  width: 2.1%;
  margin: 1.2% 0 0 4.5%;
  left: 40%;
  transform: rotate(-45deg);
}
