.y div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 50%;
}

.y div:nth-child(1) {
  top: 50%;
  left: 20%;
  height: 50%;
  transform: rotate(-22deg);
}

.y div:nth-child(2) {
  top: 50%;
  left: 40%;
  height: 50%;
  transform: rotate(22deg);
}
.y div:nth-child(3) {
  top: 90%;
  left: 30%;
  height: 40%;
  transform: rotate(3deg);
}
