.z div {
  position: absolute;
  width: 80%;
  height: 25%;
  background-color: black;
}
.z div:nth-child(1) {
  top: 20%;
  left: 0;
}
.z div:nth-child(2) {
  top: 17%;
  left: 3%;
  width: 80%;
  height: 86%;
  clip-path: polygon(100% 0, 100% 25%, 25% 100%, 0 100%, 0% 75%, 75% 0);
  background-color: black;

}
.z div:nth-child(3) {
  top: 73%;
  left: 0%;
  width: 83%;
  height: 27%;
  }
