.A div:nth-child(1){
  position: absolute;
  left: 0%;
  top: 11%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(0deg);
}

.A div:nth-child(2){
  position: absolute;
  left: 45%;
  top: -2%;
  width: 15%;
  height: 113%;
  background-color: black;
  transform: rotate(132deg);
  }
.A div:nth-child(3){
  position: absolute;
  left: 43%;
  top: 5%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(90deg);
}
