.C div {
    background-color: black;
    box-shadow: 0px 0px 15px 5px lightgray;
    position: absolute;
    float: left;
    opacity: 80%;
    transform: skewX(-20deg);
    transform: skewY(-20deg);
}

.C div:nth-child(1) {
  height: 7%;
  width: calc(70% - 20px);
  top: 54%;
}

.C div:nth-child(2) {
  height: 35%;
  width: 28%;
  top: 60%;
}

.C div:nth-child(3) {
  height: 7%;
  width: calc(70% - 20px);
  top: 78.5%;
  left: 20px;
}
