.D {
  position: relative;
}

.D div:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5%;
  height: 100%;
  background-color: black;
}

.D div:nth-child(2) {
  position: absolute;
  left: 0%;
  top: 75%;
  width: 80%;
  height: 25%;
  background-color: black;
}

.D div:nth-child(3) {
  position: absolute;
  left: 38%;
  top: -9%;
  transform: rotate(-39deg);
  width: 5%;
  height: 118%;
  background-color: black;
}
