.E div:nth-child(1){
  position: absolute;
  left: 42%;
  top: -42%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(90deg);
}

.E div:nth-child(2){
  position: absolute;
  left: 42%;
  top: 43%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(90deg);
}


.E div:nth-child(3){
  position: relative;
  left: 42%;
  top: 0%;
  width: 15%;
  height: 100%;
  background-color: black;
  transform: rotate(90deg);
}
