.F div {
  background-color: black;
  box-shadow: 0px 0px 15px 5px lightgray;
  position: absolute;
  opacity: 80%;
  transform: skewX(-20deg);
  transform: skewY(-20deg);
}

.F div:nth-child(1) {
  height: 62%;
  width: 30%;
  top: 32%;
}

.F div:nth-child(2) {
  height: 7%;
  width: 85%;
  left: 0px;
  top: 19%;
}

.F div:nth-child(3) {
  height: 7%;
  width: 85%;
  top: 29%;
  left: 20px;
}
