.G div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.G div:nth-child(1) {
  top: -20%;
  left: 40%;
  transform: rotate(62deg);
}

.G div:nth-child(2) {
  top: 20%;
  left: 40%;
  transform: rotate(-62deg);
}

.G div:nth-child(3) {
  left: 70%;
  top: 40%;
  height: 60%;
}
