.H div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.H div:nth-child(1) {
  left: 0;
}

.H div:nth-child(2) {
  left: 90%;
}

.H div:nth-child(3) {
  top: 10%;
  left: 50%;
  transform: rotate(90deg);
  height: 90%;
}
