.I div {
  background-color: black;
  box-shadow: 0px 0px 15px 5px lightgray;
  position: absolute;
  opacity: 80%;
  transform: skewX(-20deg);
  transform: skewY(-20deg);
}

.I div:nth-child(1) {
  height: 7%;
  width: 7%;
  top: 43%;
  left: 30%;
  border-radius: 50%;
}

.I div:nth-child(2) {
  height: 35%;
  width: 28%;
  top: 50%;
  left: 30%;
}

.I div:nth-child(3) {
  height: 7%;
  width: 75%;
  top: 79.5%;
  left: 7%;
}
