
.J div:nth-child(1){
  position: absolute;
  left: 50%;
  top: 10%;
  height: 90%;
  width: 5%;
  background-color: black;

}

.J div:nth-child(2){
  position: absolute;
  left: 0%;
  top: 10%;
  height: 5%;
  width: 50%;
  background-color: black;

}

.J div:nth-child(3){
  position: absolute;
  left: 25%;
  top: 100%;
  height: 5%;
  width: 30%;
  background-color: black;

}
