.K div:nth-child(1){
  position: absolute;
  left: -28%;
  top: 78%;
  width:110%;
  height: 5%;
  background-color: black;
  transform: rotate(45deg);
}
.K div:nth-child(2){
  position: absolute;
  left: 30%;
  top: 0%;
  width: 22%;
  height: 80%;
  background-color: black;
  transform: rotate(45deg);
}
.K div:nth-child(3){
  position: absolute;
  left: 9%;
  top: 0;
  width: 15%;
  height: 100%;
  background-color: black;
}
