
.L div  {
  position: absolute;
}

.L div:nth-child(1) {
  background-color: black;
  width:100%;
  height: 10%;
  top: 90%;
}

.L div:nth-child(2){
  background-color: black;
  width: 10%;
  height: 100%;
  transform: rotate(-2deg);
}
