.M div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.M div:nth-child(1) {
  left: 0;
}

.M div:nth-child(2) {
  left: 90%;
}

.M div:nth-child(3) {
  top: 20%;
  left: 25%;
  transform: rotate(45deg);
  width: 50%;
  height: 50%;
}
