.N div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.N div:nth-child(1) {
  left: 0;
}

.N div:nth-child(2) {
  left: 90%;
}

.N div:nth-child(3) {
  top: 45%;
  left: -10%;
  transform: rotate(45deg);
  width: 120%;
  height: 10%;
}
