.O div {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.O div:nth-child(1) {
  left: 10%;
}

.O div:nth-child(2) {
  top: 10%;
  left: 20%;
  width: 80%;
  height: 80%;
  background-color: white;
}

.O div:nth-child(3) {
  top: 45%;
  left: 55%;
  width: 10%;
  height: 10%;
  background-color: black;
}
