.P div {
  position: absolute;
  background-color: black;
}

.P div:nth-child(1) {
  width: 10%;
  height: 100%;
  left: 10%;
}

.P div:nth-child(2),
.P div:nth-child(3) {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  left: 10%;
}
