.Q div:nth-child(1){
  position: absolute;
  left: 25%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: rotate(0deg);
  border-radius: 50%;
}
.Q div:nth-child(2){
  position: absolute;
  left: 45%;
  top: 20%;
  width: 75%;
  height: 75%;
  background-color: white;
  transform: rotate(0deg);
  border-radius: 50%;
}
.Q div:nth-child(3){
  position: absolute;
  left: 70%;
  top: 70%;
  width: 60%;
  height: 5%;
  background-color: black;
  transform: rotate(45deg);
}
