
.R {
  position: relative;
}

.R div:nth-child(1){
  position: absolute;
  left: 40%;
  top: 0;

  width: 60%;
  height:60%;

  background-color: black;

  border-radius: 70%;
}


.R div:nth-child(2){
  position: absolute;
  left: 9%;
  top:0;

  width:50%;
  height:100%;

  background-color: black;
}

.R div:nth-child(3){
  position: absolute;
  left: 60%;
  top: 40%;

  width:20%;
  height:60%;

  background-color: black;
  transform:rotate(-20deg);
}
