.T div {
  position: absolute;
  background-color: black;
  height: 10%;
  width: 100%;
}

.T div:nth-child(1) {
  left: 0;
  top: 0;
}

.T div:nth-child(2) {
  top: 50%;
  transform: rotate(90deg);
}

.T div:nth-child(3) {
  top: 50%;
  transform: rotate(90deg);
}
