.U div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.U div:nth-child(1) {
  left: 0;
}

.U div:nth-child(2) {
  left: 90%;
}

.U div:nth-child(3) {
  top: 90%;
  left: 0;
  width: 100%;
  height: 10%;
}
