.V div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 100%;
}

.V div:nth-child(1) {
  left: 30%;
  transform: rotate(-22deg);
}

.V div:nth-child(2) {
  left: 70%;
  transform: rotate(22deg);
}

.V div:nth-child(3) {
  left: 70%;
  transform: rotate(22deg);
}
