.W div:nth-child(1){
  position: absolute;
  top: 15%;
  left: 15%;
  height: 75%;
  width: 10%;
  background-color: black;
  transform: rotate(-18deg);
}

.W div:nth-child(2){
  position: absolute;
  top: 15%;
  left: 75%;
  height: 75%;
  width: 10%;
  background-color: black;
  transform: rotate(18deg);
  }

.W div:nth-child(3){
  position: absolute;
  top: 45%;
  left: 39%;
  height: 22.5%;
  width: 22.5%;
  border-radius: 50%;
  background: linear-gradient(0deg,black,65%,white);
  }
