.X {
  position: relative;
}
.X div {
  position: absolute;
}

.X div:nth-child(1) {
  background-color: black;
  width:3%;
  height:100%;
  transform:rotate(40deg);
  left: 45%;
  top: 3%;
}

.X div:nth-child(2) {
  background-color: black;
  width:3%;
  height:100%;
  transform:rotate(-50deg);
  left: 40%;
  top: 4%;
}

.X div:nth-child(3) {
  background-color: black;
  width:3%;
  height:100%;
  transform:rotate(-50deg);
  left: 54%;
  top: 8%;
}
