.Y div {
  position: absolute;
  background-color: black;
  width: 10%;
  height: 60%;
}

.Y div:nth-child(1) {
  left: 30%;
  transform: rotate(-38deg);
}

.Y div:nth-child(2) {
  left: 70%;
  transform: rotate(38deg);
}

.Y div:nth-child(3) {
  left: 50%;
  top: 50%;
  height: 50%;
}
