.Z div:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
  height: 20%;
  width: 100%;
  background-color: black;
}
.Z div:nth-child(2){
  position: absolute;
  left: 45%;
  top: 00%;
  width: 5%;
  height: 100%;
  background-color: black;
  transform: rotate(45deg);
}
.Z div:nth-child(3){
  position: absolute;
  left: 0;
  top: 80%;
  height: 20%;
  width: 100%;
  background-color: black;
}
